
.temp, .day {
       color: white;
}

.center-vert {
       margin: 0;
       text-align: center;
}

.spread-hor {
       padding: 2px 6px;
}

.icon-forecast {
       width: 70px;
       height: 70px;
}

.icon-forecast-list {
       width: 40px;
       height: 40px;
       align-items: center;
       position: absolute;
       left: 110px;
}

.mat-grid-tile {
       background: rgba(205, 240, 246, 0.05);
}

mat-grid-list {
       margin-bottom: 20px;
}

.list-item {
       display: flex;
       position: relative;
       flex-direction: row;
       justify-content: space-between;
       margin: 0 40px;
       padding: 0 40px;
}
